{% extends "students/base.html" %}

{% block body %}
  <h3 class="text-center m-4">Добавить специалиста</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      Новый специалист успешно добавлен.
      <a href="{% url 'index' %}" class="alert-link">На главную страницу.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> Регистрация специалиста
          </div>
          <div class="card-body">
            <form action="{% url 'add' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Добавить</button>
              <a href="{% url 'index' %}" class="btn btn-secondary">Закрыть</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}