{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система управления специалистами</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body class='d-flex flex-column min-vh-100'>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fa-solid fa-graduation-cap"></i>База специалистов г.Ульяновска</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fa-solid fa-list"></i>Все спецы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add' %}">
                    <i class="fa-regular fa-plus"></i>Добавить специалиста</a>
              </li>             
              
            </ul>            
          </div>
        </div>
      </nav>
    <div class='container-fluid'>
       {% block body%}
       {% endblock%}
    </div>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js'></script>
</body>
</html>