{% extends "students/base.html" %}

{% block body%}
<h3 class='m-4'>Все специалисты</h3>
<div class='row'>
    <div class='col-12'>
        {% if students%}
        <div class="card bg-light ms-4 me-4 mb-4">
            <div class="card-header">
                <i class="fa-solid fa-list"></i>Спец
            </div>
            <div class="card-body">                      
              <p class="card-text">
                <div class='table-responsive'>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Номер телефона</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Специализация</th>
                            <th scope="col">Возраст</th>
                            <th scope="col">Подробнее</th>                                    
                          </tr>
                        </thead>
                        <tbody>                                
                          {% for student in students%}
                            <tr>
                            <td>{{ student.student_number }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.field_of_study }}</td>
                            <td>{{ student.gpa }}</td>
                            <td>
                              <button type='button' class='btn btn-success me-1' href="{% url 'view_student' student.id %}" data-bs-toggle='modal' data-bs-target='#myModal{{ student.id }}'>
                                <i class="fa-solid fa-circle-info"></i>
                              </button>
                              <div class="modal" id='myModal{{ student.id }}'>
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">
                                        Спец: {{student.first_name}} {{student.last_name}}
                                      </h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul class="list-unstyled">
                                        <li>Номер телефона: <strong>{{student.student_number}}</strong></li>
                                        <li>Имя: <strong>{{ student.first_name }}</strong></li>
                                        <li>Фамилия: <strong>{{ student.last_name }}</strong></li>
                                        <li>Область: <strong>{{ student.field_of_study }}</strong></li>
                                        <li>Возраст: <strong>{{ student.gpa }}</strong></li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">                                              
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                              </a>
        
                              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
                                <i class="fa-solid fa-trash-can fa-lg"></i>
                              </button>
        
                              <!-- Modal - Delete Student -->
                              <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">
                                        Специалист: {{ student.first_name }} {{ student.last_name }}
                                      </h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Вы уверены, что хотите удалить специалиста?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <form action="{% url 'delete' student.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="Delete">
                                      </form>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            </tr>
                          {% endfor %}                                                                    
                        </tbody>
                      </table>
                </div>
              </p>
            </div>
          </div>
        {% else %}
            <h5 class='alert alert_primary ms-4 me-4'>Специалистов нет</h5>
        {% endif %}
        
    </div>
</div>

{% endblock %}